{% ckan_extends %}

{# Elimina link alle sole API ======================================================== #}

{% block package_search_results_api_inner %}
<small>
  {% if g.dumps_url -%}
    {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
    {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version)) %}

    {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
    {% trans %}
      You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
    {% endtrans %}
  {%- endif %}
</small>
{% endblock %}
