<h2>Il progetto Open Data Network</h2>
<p>Il progetto Open Data Network è stato avviato da un gruppo di Pubbliche Amministrazioni toscane –
    <strong>Provincia di Firenze, Provincia di Prato, Provincia di Pistoia e Autorità di Bacino del Fiume Arno</strong> –
    che hanno deciso di collaborare alla costruzione di un sistema federato per la pubblicazione in forma "aperta" dei
    propri dati, sia alfanumerici che geografici. Sin dall'inizio il progetto si è proposto di realizzare una soluzione
    federata per gli open data, con l'obiettivo da un lato di facilitare l'accesso da parte dell'utenza e dall'altro di
    creare sinergie nello sviluppo della soluzione e nella sua gestione. L'idea è stata quindi condivisa con la
    Regione Toscana, che ne ha cofinanziato lo sviluppo.</p>

<h2>Enti federati</h2>
<ul class="logo">
    <li class="logo"><img height="50px" src="/odn/img/logo_prv_fi.png"/>Città Metropolitana di Firenze</li>
    <li class="logo"><img height="50px" src="/odn/img/logo_prv_po.png"/>Provincia di Prato</li>
    <li class="logo"><img height="50px" src="/odn/img/logo_adb.png"/>Autorità di Bacino del fiume Arno</li>
    <li class="logo"><img height="50px" src="/odn/img/logo_prv_pt.png"/>Provincia di Pistoia</li>
</ul>

<br />
<h2>L'origine del progetto: C.E.R.C.O. e il geoportale</h2>
<p>Lo sviluppo dell'idea progettuale è stato condotto dalle Amministrazioni promotrici nell'ambito del progetto
    C.E.R.C.O., che è stato formalmente avviato con il Protocollo d'Intesa siglato il 28 luglio 2010 tra le
    Province di Firenze, Prato e Pistoia, il Circondario Empolese-Valdelsa, l'Autorità di Bacino del fiume Arno,
    la Comunità Montana della Valdibisenzio e tutti i Comuni della Provincia di Prato, con lo scopo di realizzare
    un'infrastruttura di dati geografici (IDT) che consentisse sia un facile accesso alle risorse geospaziali
    distribuite tra i vari Enti competenti sulle diverse materie sia una omogeneizzazione degli archivi territoriali
    volta a consentirne la consultazione sul continuum territoriale costituito dall'insieme dei territori di competenza
    degli Enti partecipanti.<br />
    Il progetto è andato ben oltre l'originario protocollo, che nella sostanza prevedeva uno studio di fattibilità ed 
    una progettazione di massima, e si è quindi concretizzato in un primo prototipo di geoportale che rappresenta
    il punto di accesso unificato al patrimonio informativo detenuto dai singoli Enti aderenti;
    il progetto C.E.R.C.O. è stato supportato da Regione Toscana (Sistema Informativo Territoriale ed Ambientale),
    con la quale sono stati condivisi metodologie ed obiettivi.
</p>

<h2>Open Data Network: da Geoportale a portale Open Data</h2>
<p>L'esperienza maturata nell'ambito del progetto C.E.R.C.O., inizialmente focalizzato sui dati geografici,
    ha consentito di sviluppare ulteriormente l'idea fondante del geoportale, facendolo evolvere verso un più ampio
    sistema federato per la pubblicazione dei dati – geografici e non – nella logica degli open data: le Amministrazioni
    partecipanti hanno quindi progettato e sviluppato un'infrastruttura per la gestione dei dati che consente all'utente
    di accedere a dati sia alfanumerici che geografici pubblicati su un catalogo unico, di consultare in forma di mappa
    il dato geografico ed in forma di tabella o di grafico il dato alfanumerico, di acquisire il dato in
    "formato aperto", ovvero pubblico, documentato e neutro rispetto agli strumenti tecnologici necessari per la fruizione.
    <br />
    Per la consultazione su mappa dei dati geografici pubblicati sul portale è stato adottato il Webgis Tolomeo,
    uno strumento sviluppato dal Comune di Prato, inserito nel catalogo delle soluzioni a riuso della Regione Toscana e
    già utilizzato da una comunità di Amministrazioni toscane tra le quali la Regione Toscana stessa.
    <br />
    Le Amministrazioni hanno operato con l'obiettivo di sviluppare strumenti che, oltre ad essere efficienti dal punto
    di vista dei costi di impianto e di gestione (il punto di accesso è unico, mentre per la gestione dei cataloghi i
    moduli software necessari vengono installati in maniera omogenea presso ogni Amministrazione aderente),
    fossero anche adatti ad essere facilmente estese ad altri soggetti – siano essi pubblici che privati – che possono
    entrare a far parte della federazione mediante il riuso delle componenti sviluppate e/o una configurazione dei
    propri sistemi di pubblicazione dei dati. Con lo stesso criterio la federazione dei soggetti che si costituisce può
    mettere a disposizione i propri archivi all'interno di una federazione di livello territoriale superiore andando a
    costituirne un singolo nodo: in questo senso il progetto si allinea con gli indirizzi della Regione Toscana in
    merito alla riconciliazione del patrimonio informativo, e ne rappresenta una prima significativa concretizzazione.
</p>
