<h2>Open Data Network - La Home page</h2>
    <p>Open Data Network  è un portale Open Data federato che raccoglie l'insieme degli archivi pubblicati su “nodi patner”dai soggetti partecipanti alla federazione e li mette a disposizione dell'utenza su un portale unico che funziona da "hub".
	La ricerca può essere effettuata inserendo un argomento o una parola chiave nell'apposita form della home page (es. “sentieri”) e cliccando successivamente su INVIO: il sistema restituirà l'elenco di tutti gli archivi presenti sul portale "hub" che rispondono alla chiave di ricerca; per ogni archivio vengono visualizzate le seguenti informazioni:</p>
   <ul>
   <li>il nodo partner di provenienza del dato indicato con il termine Nodo;</li>
   <li>la natura del dato, se geografica o di alfanumerica (l'icona "globo terrestre" <img src="/odn/img/geo.png" /> indica un dato geografico); </li>
   <li>il tipo di licenza (cc-by, cc-by-sa etc..) con la quale il dato è rilasciato;</li>
   <li>il numero di risorse disponibili associate all'archivio; le risorse associate possono essere di vario tipo, ad esempio: file scaricabile in formato zip, servizio WMS con anteprima su mappa, dato in formato .csv con anteprima in versione tabellare.</li>
   </ul>
   <p>I dati sono suddivisi per <a href="http://www.opendatanetwork.it/group" title="visualizza le categorie"><i>categorie</i></a> e raggruppati anche in base a <i>Tag</i>.
L'utente può decidere di ricercare e visualizzare gli archivi geografici direttamente su mappa utilizzando la funzione "Vai alla mappa": così facendo accede ad uno strumento webgis che gli consente di ricercare il tematismo di interesse tra gli archivi geografici pubblicati sul portale Open Data Network e di visualizzarlo su una cartografica di base.
E'inoltre possibile aggiungere temastismi pubblicati da altri soggetti che espongano un servizio di catalogo standard CSW (Catalog Service for the Web) accessibile (vedi seguito nella sezione "Mappa").</p>
   <h2>Open Data Network - Il dataset</h2>
	<p>Alla selezione del dataset di interesse viene mostrata una scheda descrittiva che riporta le seguenti informazioni:</p>
	<ul>
<li>	una descrizione del dato opendata; </li>
<li>	il referente dell'archivio (di solito un ufficio) e i relativi contatti; </li>
<li>	le risorse disponibili (download del file .zip, .csv, .pdf etc...)</li>
<li>	il link che consente di visualizzare il dato in un apposita mappa mediante un servizio di WMS (solo dati geografici);</li>
<li>	il link al metadato completo compilato secondo lo standard SO 19115/19139 (solo dati geografici);</li>
</ul>
	<h2>Open Data Network - La mappa interattiva</h2>
	<p>La mappa interattiva può essere attivata dalla homepage ("Vai alla mappa") per ricercare direttamente su mappa gli archivi di interesse oppure dalla scheda informativa di un archivio geografico se esiste una risorsa WMS collegata; in questo caso si visualizza una mappa di anteprima con funzionalità di navigazione ridotte e si accede poi ad una versione completa del webgis da "personalizza la mappa". <br />
Il webgis mette a disposizione i consueti strumenti di zoom, stampa e misurazione della distanza che sono posizionati sulla barra in alto a sinistra. Nella colonna a destra si possono visualizzare alternativamente strumenti di ricerca, legenda e elenco dei layer presenti sulla mappa. Cliccando con il tasto destro sulla mappa è possibile inoltre utilizzare il servizio Street View di Google Earth ed ottenere le coordinate del punto di interesse nei diversi sistema di proiezione (di default il sistema Gauss-Boaga EPSG:3003).
</p>